#listView {
    -fx-font-size: 12pt;
}

#mainLabel {
    -fx-font-size: 24pt;
}

#definitionsLabel {
    -fx-font-size: 18pt;
}

#textField {
    -fx-font-size: 14pt;
}

#gridPane {
    -fx-font-size: 14pt;
}

.button {
    -fx-font-size: 14pt;
}

#wordLabel {
    -fx-font-size: 14pt;
}

.root {
    -fx-background-color: lightblue;
}